recursive-include dc_theme *
recursive-include dc_theme/static/dc_theme/bower_components *
recursive-include dc_theme/static/dc_theme/bower_components/jquery *
recursive-include dc_theme/static/dc_theme *
