{% extends "dc_base_naked.html" %}

{% load static from staticfiles %}

{% block body_base %}
  {% block header %}
  <header role="banner">
    <div class="container">
      <a href="/">
        <img src="{% static "dc_theme/images/logo-with-text-2017.png" %}" alt="{{ site_title }}">
      </a>
      {% block site_menu %}{% endblock site_menu %}
    </div>
  </header>
  {% endblock header %}

  {# {% block top_banner %}{% endblock top_banner %} #}

  {# {% block breadcrumbs %}{% endblock breadcrumbs %} #}
  {# {% if messages %} #}
  {#   {% for message in messages %} #}
  {#   <div class="callout secondary success {{ message.tags }}" data-closable> #}
  {#     <h5>{{ message }}</h5> #}
  {#     <button class="close-button" aria-label="Dismiss alert" type="button" data-close> #}
  {#       <span aria-hidden="true">&times;</span> #}
  {#     </button> #}
  {#   </div> #}
  {#   {% endfor %} #}
  {# {% endif %} #}

  <main>
    <div class="container">
      {% block content %}{% endblock content %}
    </div>
  </main>

  {% block bottom_banner %}{% endblock bottom_banner %}

  {% block site_footer %}{% endblock site_footer %}

{% endblock body_base %}
