// Expects some HTML like this:

//<ol vocab="http://schema.org/" typeof="BreadcrumbList" class="breadcrumbs" aria-label="You are here:" role="navigation">
//
//  <li property="itemListElement" typeof="ListItem">
//  <a property="item" typeof="WebPage" href="/">
//    <span property="name">Home</span>
//  </a>
//  <meta property="position" content="1">
//</li>
//
//
//  <li property="itemListElement" typeof="ListItem">
//  <a property="item" typeof="WebPage" href="/parties/">
//    <span property="name">Parties</span>
//  </a>
//  <meta property="position" content="2">
//</li>
//
//  <li class="disabled"><span class="show-for-sr">Current: </span> All People's Party</li>
//</ol>

.breadcrumbs {
  list-style: none;
  padding:0 0 1em 0;
  li {
    float: left;
    font-size:1rem;

    &:not(:last-child)::after {
      color: $dc-light-grey;
      content: '/';
      margin: 0 0.2em;
    }
  }
}
