@import 'elements/forms';
@import 'summary';


.link-button, .read_more {
    display:inline-block;
    border: 2px solid $button-background;
    color: $button-background;
    font-size: 1rem;
    font-family: $sanserif-font;
    margin: .2em 0;
    padding: 1rem 2rem 1.0625rem 2rem;
    text-decoration: none;
    &:hover {
        background-color: lighten($button-background, 52);
    }
}
