body {
    margin:0;
    padding:0;
    background-color:#eee;
}


header, footer {
    clear:both;
    > .container {
        max-width:960px;
        margin:0 0.3em;

        @include media(710px) {
          margin: 0 auto;
        }

    }
}

.container {
    padding: 20px;
    box-sizing: content-box;
    overflow: auto;
    @include media($max-width: 330px) {
      padding:0;
    }


}


main > .container {
  max-width: 960px;
  margin: 0;

  @include media(710px) {
    margin: 0 auto;
  }

  & > article {
    @include media(710px) {
        max-width:80%;
        float:left;
        overflow:auto;
    }
    overflow:hidden;
  }
}
