@mixin element-invisible {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.show-for-sr {
  @include element-invisible;
}

.android_menu_list {
  -webkit-appearance: menulist;
}
